@import "variables";
@import "tipografias";
@import "botones";
@import "register";



*{
    box-sizing: border-box;
}

/* Galeria*/
img{
    width: 100%;
}

.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column{
    flex: 25%x;
    padding: 5px;
    & img{
        margin-top: 5px;
    }

}
@media (max-width: 600px){
    .column{
        flex: 100%;
    }
}
@media (max-width: 800px){
    .column{
        flex: 50%;
    }
}

/* Titulo principal */
.titulo {
    color: $color_uno;
    font-size: 50px;
    
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    height: 100px;
    text-align: center;
    
}
@media screen and (max-width:600px) {
    .titulo { font-size: 35px;
        text-align: center;
        padding-bottom: 30px;


    }
    
}
/* Titulos secundarios */
.titulo2 {    
    color: $color_uno;
    margin-top: 50px;
    margin-bottom: 150px;
    font-size: 50px;
    font-family: $fuente_dos;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    height: 40px;
    text-align: center;

}
@media (max-width:600px) {
    .titulo2{font-size: 30px;
        text-align: center;
        padding-bottom: 5px;

    }
}
/*Titulos adicionales*/
.titulos3{ color: $color_uno;
    font-size: 27px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 20px;


}
@media screen and (max-width:600px){
    .titulos3{
        font-size: 20px;
        padding-top: 10px;
    }

}

#primer_parrafo {
    color: $color_uno;
    font-size: 20px;
    line-height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

/* Parrafos */
.parrafo{
    color: grey;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}


.titulos_secundarios{
    color: saddlebrown;
    font-size: 27px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

}
@media screen and (max-width:600px){
    .titulos_secundarios{
        font-size: 20px;
        padding-top: 5px;
    }

}



/* header y nav*/

.logo {
    display: flex;
    margin-right: auto;
    max-width: 150px;
    max-height: 150px;
}

   
nav 

    a{
    color: white;
    padding: 20px 50px;
    text-align: center;
}


@media screen and (max-width: 700px) {
    nav {
        flex-direction: column;
    }
    
}
.contenedor-botones{
    width: 100%;
    display: flex;
    gap: 40px;
}



@media screen and (max-width: 600px) {
    .contenedor-botones {
        flex-direction: column;
        height: 300px;
        width: 100px;
    }
    
}
/*Enlaces */
a{
    text-decoration: none;
}

/* Body */
body{
    background-color: rgb(255, 255, 255);
    position: relative;
    
}


/* Imagenes */
.imagenes{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    max-width: 1400px;
    max-height: 2000px;

}


/* Logos del footer */
.logo2{ 
    display: inline-block;
    width: 30px;
    height: 30px;
    background: transparent;
    line-height: 30px;
    margin-top: auto;

    

}

/*Compra*/
#selectbox{
    display: flex;
    width: 20em;
    height: 3em;
}


.controls{
    width: 100%;
    background: $color_dos;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid $color_uno;
    font-family: $fuente_uno;
    font-size: 18px;
}

.form-floating{
    padding-top: 5px;
    padding-bottom: 40px;
}
@media screen and (max-width: 700px) {
    .form-register {
        height: 100%;
        width: 300px;
    }
    
}


/*Seccion de autos*/

.grid_autos{
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(240px, 1fr));
    grid-template-rows: minmax(200px,auto);
    gap: 20px;
    padding: 20px;
}

.grid-item:hover{
    filter: opacity(0.9);

}

.auto1{
    grid-column: 1 / 3;
}
.auto2{
    grid-column: 3 / 5;
}
.auto3{
    grid-column: 5 / 7;
}

@media (max-width: 700px) {
    .auto1 {
        grid-column: span 2;
    }
    .auto2{
        grid-row: span 1;
    }
    
}

/*Autos recomendados*/
#autosedan{
    background-color: $color_tres;
}
#autochevrolet{
    background-color: $color_tres;
}
#autofiat{
    background-color: $color_tres;
}
